#wrapper{
display: grid;
height: 250vh;
width: 98vw;
grid-template-columns: 20% 80%;
grid-template-rows: 5% 93%;
grid-template-areas: 
'hd hd'
'nav mn'
;



}

#header{
grid-area: hd;
background-color: bisque;
}

#nav{
    grid-area: nav;
    background-color: rgb(236, 196, 149);
    
    }

    #main{
        grid-area: mn;
        background-color: rgb(208, 165, 112);
        
        }